.Introduction {
  padding: 16px;
  border-radius: 8px;
  margin: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Introduction .Profileimage {
  width: 300px;
  margin-bottom: 8px;
}

.Introduction .Info {
  text-align: center;
}

.Introduction img {
  width: 100%;
  border-radius: 10px;
}
