.Projects {
  background-color: #1E252B;
  padding: 16px;
  border-radius: 8px;
  margin: 16px;
}

.Projects .Header {
  display: flex;
  width: 100%;
  padding: 16px 16px 0;
}

.Projects .Eachproject {
  padding: 16px 16px;
}

.Projects .Eachproject .Projectname {
  margin-bottom: 16px;
}

.Projects .Eachproject .Projectimages {
  display: flex;
  width: 100%;
  overflow: scroll;
}

.Projects .Eachproject .Projectimages .Eachimage {
  width: calc(33.3% - 32px);
  padding: 0 16px;
  flex-shrink: 0;
}

.Projects .Eachproject .Projectimages .Eachimage img {
  width: 100%;
}

.Projects .Eachproject .Projectimages :first-child {
  padding-left: 0;
}

.Projects .Eachproject .Projectimages :last-child {
  padding-right: 0;
}

.Projects .Eachproject .Webapp .Eachimage {
  width: calc(75% - 32px);
}

.Projects p {
  font-size: 14px;
}

@media (max-width: 480px) {
  .Projects .Eachproject .Projectimages .Eachimage {
    width: calc(80% - 16px);
  }
  .Projects .Eachproject .Projectimages .Eachimage img {
    width: 100%;
  }
  .Projects .Eachproject .Webapp .Eachimage {
    width: calc(85% - 32px);
  }
}
