.Projects{
    background-color:#1E252B;
    padding: 16px;
    border-radius: 8px;
    margin:16px;

    .Header{
        display: flex;
        width: 100%;
        padding: 0 16px;

        h2{
            margin: 0;
        }
    }

    .Eachproject{
        padding: 0 16px;

        .Projectimages{
            display: flex;
            width:100%; 
            overflow: scroll;

            .Eachimage{
                width: 33.3%;
                padding: 0 16px;
                flex-shrink: 0;

                img{
                    width: 100%;
                }
            }

            :first-child{
                padding-left: 0;
            }

            :last-child{
                padding-right: 0;
            }
        }

        .Webapp{ 
            .Eachimage{
                width: 75%;
            }
        }
    }
}

@media(max-width:480px){
    .Projects{

        .Header{
        
        }

        .Eachproject{

            .Projectimages{

                .Eachimage{
                    width: 80%;
                    flex-shrink: 0;

                    img{
                        width: 100%;
                    }
                }
            }

            .Webapp{ 
                .Eachimage{
                    flex-shrink: 0;
                    width: 85%;
                }
            }
        }
    }
}

