.Tools {
  background-color: #1E252B;
  padding: 16px;
  border-radius: 8px;
  margin: 16px;
}

.Tools .Header {
  display: flex;
  width: 100%;
  padding: 16px 16px 0;
}

.Tools .Body {
  display: flex;
  flex-wrap: wrap;
}

.Tools .Eachtool {
  display: flex;
  padding: 16px;
  width: calc(20% - 32px);
  align-items: center;
  word-break: break-all;
}

.Tools .Eachtool .Toolimage {
  width: 32px;
  margin-right: 8px;
}

.Tools .Eachtool .Toolimage img {
  width: 100%;
}

.Tools p {
  font-size: 16px;
}

@media (max-width: 480px) {
  .Tools .Eachtool {
    display: flex;
    padding: 16px;
    width: calc(50% - 32px);
    align-items: center;
  }
  .Tools .Eachtool .Toolimage {
    width: 32px;
    margin-right: 8px;
  }
  .Tools .Eachtool .Toolimage img {
    width: 32px;
  }
}
