---
import Layout from '../layouts/Layout.astro';
---
<Layout title="Dinakar Tumu">
  <section class="container">
    <h1>Dinakar Tumu</h1>
    <p class="muted">Engineer at Pageloop. Photographer around the Bay Area.</p>
  </section>
</Layout>
